<div class="container">
   <div class="row">
      <p>Lorem voluptatem soluta quia voluptate quaerat elit laudantium? Necessitatibus quibusdam molestias libero perspiciatis voluptas odio quos suscipit at voluptas. Quasi voluptas necessitatibus nulla ratione sequi sint, rem nesciunt. Voluptatum sit.</p>
   </div>
</div>
